body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*
   * Formatting the header area
   */
  header {
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
    text-align: center;
  }
 
  /*
   * Centering the body content
   */
  .container {
    margin: auto;
    text-align: center;
  }

  div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 150;
    margin-top: 30px;
    text-align: center;
    color: rgb(15, 14, 14);
  }
  .menu {
    float: right;
    margin-top: 8px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: #444;
    text-decoration: none;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .input {
    width: 400px;
    margin: auto auto 20px;
  }

  .button {
    width: 100px;
    text-align: center;
    margin: auto;
  }

  .hamadiv {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }

  .hamainner {
    flex-grow: 1;
    width: 33%;
    height: 100px;
  }

  .hamainfo {
    width: 50%;
    margin: auto auto 20px;
  }

  .hr1 {
    height: 0;
    border-bottom: 0px solid black;
  }
  